:host {
  display: block;
}

:host>label {
  font-size: var(--label-font-size);
}

:host>select {
  border: 1px solid var(--form-element-border-color);
  box-sizing: border-box;
  height: 30px;
  width: 100%;
}