:host {
  display: block;
}

:host>button {
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  justify-content: center;
  padding: 10px;
  margin: 0;
  transition: background 200ms;
  width: var(--button-width, unset);
}

:host>button:disabled {
  opacity: 0.2;
  pointer-events: none;
}

:host>button:active {
  background: #eeeeee;
}

:host>button>img {
  height: 20px;
  margin-right: 12px;
  width: 20px;
}

:host>button.primary {
  background-color: var(--button-primary-bg-colour);
  color: var(--button-primary-text-colour);
}

:host>button.primary:hover {
  background-color: var(--button-primary-bg-colour-hover);
}

:host>button.primary:focus-visible {
  background-color: var(--button-primary-bg-colour-focus);
}

:host>button.primary:active {
  background-color: var(--button-primary-bg-colour-active);
}

:host>button.secondary {
  background-color: var(--button-secondary-bg-colour);
  color: var(--button-secondary-text-colour);
}

:host>button.secondary:hover {
  background-color: var(--button-secondary-bg-colour-hover);
}

:host>button.secondary:focus-visible {
  background-color: var(--button-secondary-bg-colour-focus);
}

:host>button.secondary:active {
  background-color: var(--button-secondary-bg-colour-active);
}
