:root {
  --table-border-colour: #e5e5e5;
  --table-cell-padding: 12px;
  --button-primary-bg-colour: #2497fc;
  --button-primary-bg-colour-hover: #4fabfc;
  --button-primary-bg-colour-focus: #39a1fc;
  --button-primary-bg-colour-active: #1c78c9;
  --button-primary-text-colour: #fff;
  --button-secondary-bg-colour: #4b4b56;
  --button-secondary-bg-colour-hover: #6e6e77;
  --button-secondary-bg-colour-focus: #5d5d66;
  --button-secondary-bg-colour-active: #3c3c44;
  --button-secondary-text-colour: #fff;
  --button-width: 100%;
  --label-font-size: 14px;
  --form-element-border-color: #455556;
  --form-required-asterisk-colour: #db5426;
  --form-validation-error-border-colour: #db5426;
  --form-validation-error-bg-colour: #fcf3f0;
  --header-border-color: #455556;
  --header-top-margin: 16px;
  --header-bottom-margin: 16px;

  color: #455556;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  inset: 0;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
}
