.user-list-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.aside {
  background: #eceeee;
  border-right: 1px solid #455556;
  overflow-y: auto;
  padding: 32px;
  width: 300px;
}

.main {
  flex: 1;
  min-height: 200px;
  overflow: auto;
  padding: 32px;
}

.table-row-controls {
  display: flex;
  gap: 12px;
}

.table-cell-status {
  display: flex;
}

.table-cell-status > img {
  height: 16px;
  margin-right: 6px;
  width: 16px;
}

.table-cell-status.active > img {
  color: green;
}

.table-cell-status.inactive > img {
  color: red;
}

.table-cell-status.disabled > img {
  color: orange;
}

.button-icon {
  height: 16px;
  width: 16px;
}

.add-user-button {
  --button-width: fit-content;

  margin-top: 16px;
}

@media only screen and (width <= 900px) {
  .user-list-container {
    flex-direction: column;
  }

  .aside {
    border-right: unset;
    border-bottom: 1px solid #455556;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
  }

  .main {
    padding: 12px;
  }
}
