<section local-class="user-list-container">
  <aside local-class="aside">
    <app-header>{{this.formTitle}}</app-header>
    <app-form submitButtonText={{this.formButtonText}} formSchema={{this.formSchema}} {{on "formSubmit"
      this.handleFormSubmit}} isReadOnly={{this.isEditingDisabledStatusUser}} />
  </aside>
  <main local-class="main">
    <app-header>User List</app-header>
    <app-table>
      {{#each this.user.users as |user idx|}}
        <app-table-row>
          <app-table-cell>{{user.firstName}} {{user.lastName}}</app-table-cell>
          <app-table-cell>
            &lt;<a href="mailto:{{user.email}}">{{user.email}}</a>&gt;
          </app-table-cell>
          <app-table-cell>
            <div local-class="table-cell-status {{user.status}}">
              <img src={{this.getStatusIconSrc user.status}} alt="{{user.status}} icon">
              {{this.mapStatusEnumToText user.status}}
            </div>
          </app-table-cell>
          <app-table-cell>Created: {{this.convertDateToMonthDayYear user.created}}</app-table-cell>
          <app-table-cell>Updated: {{this.convertDateToMonthDayYear user.updated}}</app-table-cell>
          <app-table-cell>
            <div local-class="table-row-controls">
              <app-button colour="secondary" ariaLabel="Delete {{user.email}}" {{on "click" (fn this.deleteUser user.email
                idx)}}>
                <img local-class="button-icon" src="icons/trash.svg" alt="delete icon">
              </app-button>
              <app-button colour="secondary" ariaLabel="Edit {{user.email}}"
                {{on "click" (fn this.enableEditUser user idx)}}>
                <img local-class="button-icon" src="icons/pencil.svg" alt="edit icon">
              </app-button>
            </div>
          </app-table-cell>
          </app-table-row>
      {{/each}}
    </app-table>
    <app-button local-class="add-user-button" {{on "click" this.enableAddUser}}>Add new user</app-button>
  </main>
</section>