:host {
  display: block;
}

:host>form>* {
  margin-bottom: 8px;
}

:host>form>app-button {
  margin-top: 16px;
}

:host>form>.error-message {
  background: var(--form-validation-error-bg-colour);
  border: 1px solid var(--form-validation-error-border-colour);
  color: var(--form-validation-error-border-colour);
  font-size: 14px;
  margin-top: 16px;
  padding: 8px;
}