:host {
  display: block;
}

:host>label {
  display: block;
  font-size: var(--label-font-size);
}

:host>label>span {
  color: var(--form-required-asterisk-colour);
}

:host>input {
  border: 1px solid var(--form-element-border-color);
  box-sizing: border-box;
  height: 30px;
  width: 100%;
}

:host([is-invalid])>input {
  border-color: var(--form-validation-error-border-colour);
  background-color: var(--form-validation-error-bg-colour);
}